body {
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
  }


.container {
    background-color: rgba(0, 0, 0, 0.562);
    text-align: center;
    border-radius: 20px;
    float: right;
    color:aliceblue
}

.confirmBtn {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    color: #eee;
    cursor: pointer;
  }
  

.cancelBtn {
    background-color: rgb(221, 0, 0);
    border-radius: 12px;
    border: 0;
    color: #eee;
    cursor: pointer;
}

.successBtn {
    background-color: rgba(14, 243, 45, 0.384);
    border-radius: 12px;
    border: 0;
    color: rgb(5, 2, 2);
    height: 10vh;
    width: 10vw;
}

.failBtn {
    background-color: rgba(243, 14, 14, 0.5);
    border-radius: 12px;
    border: 0;
    color: rgb(5, 2, 2);
    height: 10vh;
    width: 10vw;
}

button:active {
    background-color: rgb(255, 255, 255);
}
  
input {
    border-radius: 10px;
}
  
